@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700;900&display=swap');

/* 요소의 기본 스타일 초기화 */
html, body, div, span, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, acronym, address,
big, cite, code, del, dfn, em, img, ins, kbd,
q, s, samp, small, strike, strong, sub, sup,
tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 요소의 스타일 초기화 */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section,
summary {
    display: block;
}

/* 링크 스타일 초기화 */
a {
    text-decoration: none;
    color: inherit;
}

/* 리스트 스타일 초기화 */
ul, ol {
    list-style: none;
}

/* 인용문 스타일 초기화 */
blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

/* 테이블 스타일 초기화 */
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

/* 입력 요소 스타일 초기화 */
input, button, textarea, select {
    font: inherit;
    vertical-align: middle;
}