@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700;900&display=swap');

body {
    font-family: 'Noto Sans', sans-serif;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.content {
    margin-bottom: 20px;
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead th {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: left;
}

tbody td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.page-link,
.page-number {
    padding: 5px;
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: center;
}

.btn-write {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
}

.btn-write:hover {
    background-color: #555;
}

/* 반응형 */
@media (max-width: 768px) {
    .container {
      padding: 10px;
    }


    .pagination {
      flex-wrap: wrap;
    }

    .page-link,
    .page-number {
      margin-bottom: 5px;
    }
  }