<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Happy</title>
</head>
<body>
    <h1>글쓰기</h1>
    <form th:action="@{/create}" method="post">
        <!-- 사용자가 제공할 데이터에 알맞은 input과 label을 만든다. -->
        <label for="title-input">Title: <input id="title-input" name="title"></label>
        <label for="content-input">Content: <input id="content-input" name="content"></label>
        <label for="name-input">Name: <input id="name-input" name="name"></label>
        <!-- 데이터 제출 버튼 -->
        <input type="submit">
    </form>
    <div class="button-container">
        <a th:href="@{/home}" class="btn-write">이전으로</a>
    </div>
</body>
</html>